<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        {% block css %}
        {% endblock css %}
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <h1 id="title">
            {% block heading %}
            {% endblock heading %}
        </h1>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
